
span.firstWord {
    font-weight: bold;
    color: #43AFFF;

} 
.appHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #303F60;
    padding: 15px 20px;
}
.jobsImage {
    margin-right: 150px;
    position: absolute;
    float: right;
    right: 0;
    top: 30vh;
}
.divider {
    background-color: #4D618E;
}
.headerText {
    color: white;
    margin: 0;
}
.loginSignUpBtn {
    width: fit-content;
    height: 35px;
    border: 1px solid #43afff;
    color: white;
    background: #43AFFF33 0% 0%;
    border: 1px solid #43AFFF;
    border-radius: 5px;
    opacity: 1;
    cursor: pointer;
}
.blueBox {
    background-color: #303F60;
    color: white;
    height: 30vh;
    
    padding: 0 0 5vh 30vh;
    
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.detailsBox {
    height: 50vh;
    background-color: #EDF6FF;
    padding: 12%;
}
.detailsCard {
    padding: 15px;
    margin: 12px;
}
.cardBox {
    display: flex;
}
.cardHeading {
    color: #43AFFF;
}

/* Login Dialog */
.loginDialogTitle {
    padding: 18px 0px 0px 24px;
}
.dialogFooter {
    display: flex;
}

.MuiDialogContent-root {
    overflow: hidden !important;
}

/* User Role Recruiter/Candidate */
.userRoleBox {
    display: flex;
    justify-content: flex-start;
    padding: 0;
    overflow: hidden;
}

ul {
    list-style-type: none;
}

.userRoleBox li {
    padding:4px 15px 5px 15px;
    margin-right: 35px;
    display:flex;
    align-items:center;
    width: 'fit-content';
    height: 32px;
    position:relative;
    border:solid 1px #e2e2e2;
    border-radius:5px;
    cursor:pointer;
}
.userRoleBox li.active {
    background-color: #43AFFF;
    color: white;
}

.header {
    width:100%;
    color:#fff;
    text-align:start;
    height:47px;

    display: flex;
    justify-content: space-between;
    padding: 24px;
}
.logoutBtn {
    background-color: white;
    color: "black"

}
.jobsHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    padding: 10px 45px;
    height: 20vh;
    background-color: #303F60;
}
.jobsCardBox {
    display: flex;
    flex-wrap: wrap;
    padding: 45px;
}
.jobsCard {
    width: min-content;
    height: min-content;
    margin: 10px;
    
    display: flex;
    flex-direction: column;
}
.cardBoxHeader {
    display: flex;
    align-items: center;
}
.cardFooter {
    display: flex;
    align-items: center;
}
